{% extends 'base.html.twig' %}

{% block body %}
	<div class="w-full h-full flex justify-center items-center">
		<div class=" size-auto p-3 bg-black/50 flex flex-col justify-center items-center">
			<h1 class="text-center">Регистрация</h1>
			{{ form_errors(form) }}
			{{ form_start(form) }}
			{{ form_row(form.email) }}
			{{ form_row(form.plainPassword) }}
			{{ form_row(form.submit) }}
			<a href="{{path('login')}}" class="default-btn" data-turbo-action="replace">назад</a>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
