{% block body %}
	<turbo-frame id="left-side-frame">
		<div class="h-screen" {{ stimulus_controller('side-frame') }} {{stimulus_target('side-frame', 'body') }}>
			<div class="flex justify-between h-1/16 bg-black items-center text-center text-white">
				<div class="w-1/4 h-auto">*</div>
				<h1 class="w-2/4 h-auto">Профиль</h1>
				<div class="w-1/4 h-auto" src="" alt="X" {{ stimulus_action('side-frame', 'close', 'click')}}>X</div>
			</div>
			<div class="h-full bg-black/75 text-white">
				<div class="grid grid-cols-2 gap-4 p-3 *:flex">
					<div class="">
						<span class="font-medium">ID:</span>
						<span class="ml-2">{{character.id}}</span>
					</div>
					<div class="">
						<span class="font-medium">Имя:</span>
						<span class="ml-2">{{character.name}}</span>
					</div>
					<div class="">
						<span class="font-medium">Уровень:</span>
						<span class="ml-2">{{character.level}}</span>
					</div>
				</div>
			</div>
		</div>
	</turbo-frame>
{% endblock %}
